.grid {
    width: 500px;
    height: 500px;
    margin: auto;
}

[class*='col-'] {
    float: left;
    height: inherit;
}
.col-1-10 {
    width: 10%;
}
.col-1-20 {
    width: 5%;
}
.col-1-50 {
    width: 2%;
}
.col-1-100 {
    width: 1%;
}

[class*='cell-'] {
    border: solid 1px black;
    margin: 0;
    width: 100%;
}
[class*='cell-'].alive {
    background: black;
}
[class*='cell-'].dead {
    background: white;
}

.cell-1-10 {
    height: 10%;
}
.cell-1-20 {
    height: 5%;
}
.cell-1-50 {
    height: 2%;
}
.cell-1-100 {
    height: 1%;
}